
/* Font Family 
font-family: 'Montserrat', sans-serif;
font-family: 'Mulish', sans-serif;
*/


.col {
    max-width: 224px;
  }
  
  .card-img-modified {
    aspect-ratio: 1 / 1;
  }
  
  .card-img-modified img {
    object-fit: cover;
  }
 
  .hoverable:hover {
    cursor: pointer;
  }
  .card-img-modified {
    aspect-ratio: 1 / 1;
  }
  
  .card-img-modified img {
    object-fit: cover;
  }